<div class="sidebar-container">
  <nav class="sidebar">
    <div class="sidebar-header">
      <img src="" alt="" />
      <p>Hallo, Adam</p>
    </div>
    <div class="sidebar-main">
      <ul>
        <p>Im Trend</p>
        <li>
          <a href="#">
            <p>Beststeller</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Neuerscheinungen</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Aufsteiger des Tages</p>
          </a>
        </li>
      </ul>
      <ul>
        <p>Digitale Inhalte & Geräte</p>
        <li>
          <a href="#">
            <p>Prime Video</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Amazon Music</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Amazon Appstore</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Alle Anzeigen</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
      </ul>
      <ul>
        <p>Alle Kategorien</p>
        <li>
          <a href="#">
            <p>Bücher</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Filme,Serien,Musik & Games</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Elektronik & Computer</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Alle anzeigen</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
      </ul>
      <ul>
        <p>Programme & Funktionen</p>
        <li>
          <a href="#">
            <p>Handmade & Amazon Launchpad</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Luxury Stores</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Amazon Outlet</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Alle Anzeigen</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
      </ul>
      <ul>
        <p>Hilfe & Einstellungen</p>
        <li>
          <a href="#">
            <p>Mein Konto</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Deutsch</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Deutschland</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Währungseinstellungen</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Kundenservice</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Abmelden</p>
            <i><img src="" alt="" /></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
