/*
***************************
COMPONENTS STYLES
***************************
*/

//
//App-Component
//
@import "../../app/app.component.scss";
//
//Startpage
//
@import "../../app/components/01-startpage/section-hero/section-hero.component.scss";
@import "../../app/components/01-startpage/start-home/start-home.component.scss";
//
//Checkout
//
@import "../../app/components/02-checkout/checkout-home/checkout-home.component.scss";
@import "../../app/components/02-checkout/shopping-cart/shopping-cart.component.scss";
//
//Order
//
@import "../../app/components/03-order/order-home/order-home.component.scss";
//
//Helpers
//
@import "../../app/components/04-helpers/button/button.component.scss";
@import "../../app/components/04-helpers/searchbar/searchbar.component.scss";
//
//Other Components
//
@import "../../app/components/section-gw/section-gw.component.scss";
@import "../../app/components/product-list/product-list.component.scss";
@import "../../app/components/header/header.component.scss";
@import "../../app/components/header-top/header-top.component.scss";
@import "../../app/components/header-bottom/header-bottom.component.scss";
@import "../../app/components/header-right/header-right.component.scss";
@import "../../app/components/footer/footer.component.scss";
