//********
// APP-COMPONENT
//********
@import "../../../frontend/src/sass/0-base/variables";
.app-container {
  background-color: $grey--light-solid;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
}
//********
//********
