<div class="links-container">
  <div class="sitemap">
    <div class="category">
      <a href="#">
        <h6>Amazon Advertising</h6>
        <p>Kunden finden, gewinnen und binden</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>Amazon Music</h6>
        <p>Streame Millionen von Songs</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>AbeBooks</h6>
        <p>Bücher, Kunst & Sammelobjekte</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>Amazon Web Services</h6>
        <p>Cloud Coumpting Dienste von Amazon</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>Audible</h6>
        <p>Hörbücher herunterladen</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>Book Depository</h6>
        <p>Bücher mit kostenfreier Lieferung weltweit</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>IMDb</h6>
        <p>Filme, Tv & Stars</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>Kindle Direct Publishing</h6>
        <p>Dein E-Book veröffentlichen</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>Shopbop</h6>
        <p>Designer Modemarken</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>Amazon Retourenkauf</h6>
        <p>Reduzierte B-Ware</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>ZVAB</h6>
        <p>Zentrale Verzeichnis Antiquarischer Bücher und mehr</p>
      </a>
    </div>
    <div class="category">
      <a href="#">
        <h6>Amazon Business</h6>
        <p>Mengenrabatte, Business-Preise und mehr. Für Unternehmen</p>
      </a>
    </div>
  </div>
  <div class="contacts">
    <ul class="contacts-links">
      <li><a href="#"> Unsere AGB </a></li>
      <li><a href="#"> Datenschutzerklärung </a></li>
      <li><a href="#">Impressum </a></li>
      <li><a href="#"> Hinweise zu Cookies </a></li>
      <li><a href="#"> Hinweise zu interessenbasierer Werbung </a></li>
    </ul>
    <span>
      <p>made by</p>
      <a href="https://github.com/ReniIrinyi">Renáta Irinyi</a></span
    >
  </div>
</div>
