<div class="header-top">
  <div class="header-top-block block-logo">
    <a href="../01-startpage/start-home/start-home.component.html">
      <img class="logo" src="../../../assets/Icons/amazon_PNG11.png" alt="" />
    </a>
  </div>
  <div class="header-top-block block-address">
    <a href="">
      <img src="" alt="" />
      <p>Lieferung an</p>
      <p>in</p>
    </a>
  </div>
  <div class="header-top-block block-searchbar">
    <app-searchbar></app-searchbar>
  </div>
  <div class="header-top-block block-language">
    <img src="" alt="" />
    <p>DE</p>
    <form action="#">
      <select name="" id=""></select>
    </form>
  </div>
  <div class="header-top-block block-user">
    <p>Hallo, Adam</p>
    <p>Konto und Listen</p>
    <form action="#">
      <select name="" id=""></select>
    </form>
  </div>
  <div class="header-top-block block-order">
    <a href="#">
      <p>Warenrücksendungen und Bestellungen</p>
    </a>
  </div>
  <div class="header-top-block block-checkout">
    <a href="#">
      <img src="" alt="" />
      <p>Einkaufswagen</p>
    </a>
  </div>
</div>
