<!-- FOOTER -->
<footer class="footer">
  <div class="footer-container">
    <div class="homelink">
      <a href="#">
        <p>Zurück zum Seitenanfang</p>
      </a>
    </div>
    <div class="informations">
      <ul class="informations-col">
        <h3>Über Amazon Clone</h3>
        <a href="#">
          <p>schau den Src-Code auf GitHub an</p>
        </a>
      </ul>
      <ul class="informations-col">
        <h3>Tech-Stack</h3>
        <li>
          <a href="#">
            <p>Angular</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>SpringBoot</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Hibernate</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Stripe</p>
          </a>
        </li>
      </ul>
      <ul class="informations-col">
        <h3>Weitere Projekte</h3>
        <li>
          <a href="#">
            <p>Mail-System mit Java</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>E-Banking mit JavaScript</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Homepage Design</p>
          </a>
        </li>
      </ul>
      <ul class="informations-col">
        <h3>Wer bin ich</h3>
        <li>
          <a href="#">
            <p>Mein Story</p>
          </a>
        </li>
        <li>
          <a href="#">
            <p>Kontaktiere mich auf Linkedin</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="language">
      <div class="language-container img-container">
        <a href="#">
          <img src="../../../assets/Icons/amazon_PNG11.png" alt="" />
        </a>
      </div>
      <div class="language-container select-container">
        <select name="Language" id=""></select>
      </div>
      <div class="language-container select-container">
        <p>Deutschland</p>
      </div>
    </div>
  </div>
</footer>
<!-- ENDS FOOTER -->
