@import "../../../sass/0-base/variables";
@import "../../../sass/0-base/typography";
.header-bottom {
  background-color: $grey--dark;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 5% repeat(9, 1fr) 15%;
  grid-gap: 0;
  height: 100%;

  &-block {
    align-items: center;
    align-self: center;
    & .p-regular {
      color: #fff;
      text-decoration: none;
      font-size: $font-size--small;
    }
  }
}

.block {
  &-kindle {
    display: flex;
    justify-content: space-between;
    s & .link {
      font-size: 14px;
      justify-content: left;
    }
    & .link-kindle {
      justify-content: right;
      color: $blue;
      position: relative;
      &::before {
        content: "";
        display: block;
        height: 80%;
        width: 2px;
        left: -30%;
        background-color: #ffffff97;
        position: absolute;
      }
    }
  }
}
