<div class="header-bottom">
  <div class="header-bottom-block block-hamburger">
    <div class="hamburger-menu">
      <span>MENU</span>
    </div>
  </div>
  <div class="header-bottom-block">
    <a href="#"><p class="p-regular">Amazon Basics</p></a>
  </div>
  <div class="header-bottom-block">
    <a href="#"><p class="p-regular">Haustier</p></a>
  </div>
  <div class="header-bottom-block">
    <a href="#"
      ><p class="p-regular">Premium Kosmetik, Parfüms & Hautpflege</p></a
    >
  </div>
  <div class="header-bottom-block">
    <a href="#"><p class="p-regular">Baumarkt</p></a>
  </div>
  <div class="header-bottom-block">
    <a href="#"><p class="p-regular">Küche, Haushalt & Wohnen</p></a>
  </div>
  <div class="header-bottom-block">
    <a href="#"><p class="p-regular">Shopping-Tipss</p></a>
  </div>
  <div class="header-bottom-block">
    <a href="#"><p class="p-regular">Coupons</p></a>
  </div>
  <div class="header-bottom-block">
    <a href="#"><p class="p-regular">Drogerie & Körperpflege</p></a>
  </div>
  <div class="header-bottom-block">
    <a href="#"><p class="p-regular">Geschenkideen</p></a>
  </div>
  <div class="header-bottom-block block-kindle">
    <p class="link">Entdecke unsere eReader</p>

    <p class="link-kindle">kindle</p>
  </div>
</div>
