<!-- START-HOME -->
<app-hero></app-hero>
<section class="start-home">
  <div class="home-container">
    <app-testimonials-items></app-testimonials-items>
    <app-testimonials-items></app-testimonials-items>
    <app-testimonials-items></app-testimonials-items>
    <app-testimonials-items></app-testimonials-items>

    <app-testimonials-video></app-testimonials-video>
    <app-testimonials-items></app-testimonials-items>
    <app-testimonials-items></app-testimonials-items>

    <app-carousel></app-carousel>
    <app-carousel></app-carousel>
  </div>
</section>
<!-- ENDS START-HOME -->
