@import "../../../sass/0-base/variables";

.footer-container {
  background-color: $grey--dark;
  color: $white--light;
  height: 100%;
}

.homelink {
  background-color: $blue--light;
  display: flex;
  justify-content: center;
  padding: $padding-small 0;
  & p {
    color: $white--light;
    text-decoration: none;
  }
}

.informations {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: $padding-regular 0;

  &-col {
    & h3 {
      color: #fff;
    }

    & p {
      color: $white--light;
      text-decoration: none;
      font-size: $font-size--small;
    }
  }
}

.language {
  border-top: 1px solid $blue--light-solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: $padding-regular 0;
  & a img {
    margin-right: 2rem;
    height: 2rem;
    width: 4rem;
  }

  &-container:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

.select-container {
  display: flex;
  border: $grey--light 0.6px solid;
  border-radius: 3px;
  width: 6rem;
  height: 1.5rem;
}
